* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --bg-color-1: #5D4037;
    --bg-color-2: #795548;
    --bg-color-3: #D7CCC8;
}
/* Start of soft reset */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/*End soft reset*/

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

header {
    background-color: var(--bg-color-1);
    color: white;
    border-bottom: 2px black;
    box-shadow: 0 0 2px 0;
    grid-row: span 1;
    grid-column: span 2;

    div {
        justify-self: center;
        align-self: center;
    }
}

aside {
    grid-row: span 2;
    background-color: var(--bg-color-2);
}

main {
    background-color: var(--bg-color-3);
    color: #212121;

}

.grid-main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px ,1fr));
    grid-template-rows: repeat(3, 1fr);
}

.container-card {
    display: flex;
    flex-direction: column;

    .container-card-header {
        display: flex;
        svg {
            width: 20px;
            height: 20px;
            fill: green;
            align-self: center
        }
        h3 {
           flex: auto;
        }
        input[type='checkbox'] {
            width: 20px;
        }
    }

    .container-card-content {
        display: flex;
        flex-direction: column;
        button {
            width: 10%;
        }
    }
    
}